@import "~bootswatch/dist/Materia/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/Materia/bootswatch";

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.fondo {
  --background: url("../../../assets/img/fondoHome.jpg");
  // --background:white;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  background-color: transparent;
  align-items: center;
}
.cards {
  width: 60%;
  height: 20%;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: Georgia, "Times New Roman", Times, serif;
  justify-content: center;
  align-content: center;
  align-items: center;
  word-wrap: break-word;
  border-radius: 0.5rem;
  -webkit-box-shadow: 10px 26px 55px -16px rgba(13, 13, 13, 1);
  -moz-box-shadow: 10px 26px 55px -16px rgba(13, 13, 13, 1);
  box-shadow: 10px 26px 55px -16px rgba(13, 13, 13, 1);
}

.label {
  color: rgb(143, 12, 12);
  margin-top: 2rem;
  // position: absolute;
  font-size: 1rem;
  font-weight: 800;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.fondoEncuestas {
  border-radius: 15px;
  background-color: white;
}
.nombre {
  color: red;
  font-weight: bold;
}
