.botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.fondoEncuestas {
  border-radius: 15px;
  background-color: white;
}
.nombre {
  color: red;
  font-weight: bold;
}
.imagenResta{
  height: 190px;
}