
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
      <ion-title>CARGAR {{perfil}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color='fondo'>
  <ion-card>
      <ion-card-header>
          <div style="text-align: center;" >
              <ion-icon *ngIf='form.value.foto === null' name="camera-sharp" style='font-size: 150px'></ion-icon>
              <img *ngIf='form.value.foto !== null' [src]="form.value.foto" width="100" height="100px" class="icon">
              <div class="validation-errors">
                  <ng-container *ngFor="let validation of validationMessages.foto">
                      <div class="error-message" style="color: red;"  *ngIf="form.get('foto').hasError(validation.type) && (form.get('foto').dirty || form.get('foto').touched)">
                          {{ validation.message }}
                      </div>
                  </ng-container>
              </div>
          </div>
      </ion-card-header>
      <ion-item>
        <ion-label>Perfil</ion-label>
        <ion-toggle   color="warning"  [(ngModel)]="perfile" (click)="cambioPerfil()"></ion-toggle>
      </ion-item>
      <form #ngForm='ngForm' [formGroup]='form'>

          <ion-item class="labels" fill="outline">
              <br>
              <ion-input type="text" formControlName="nombre" placeholder="Nombre"></ion-input>
          </ion-item>
          <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessages.nombre">
                  <div class="error-message" style="color: red;"  *ngIf="form.get('nombre').hasError(validation.type) && (form.get('nombre').dirty || form.get('nombre').touched)">
                      {{ validation.message }}
                  </div>
              </ng-container>
          </div>
          <ion-item class="labels">
              <br>
              <ion-input type="text" formControlName="apellido" placeholder="Apellido"></ion-input>
          </ion-item>
          <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessages.apellido">
                  <div class="error-message" style="color: red;"  *ngIf="form.get('apellido').hasError(validation.type) && (form.get('apellido').dirty || form.get('apellido').touched)">
                      {{ validation.message }}
                  </div>
              </ng-container>
          </div>
          <ion-item class="labels">
              <br>
              <ion-input type="text" formControlName="dni" placeholder="DNI"></ion-input>
          </ion-item>
          <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessages.dni">
                  <div class="error-message"  style="color: red;" *ngIf="form.get('dni').hasError(validation.type) && (form.get('dni').dirty || form.get('dni').touched)">
                      {{ validation.message }}
                  </div>
              </ng-container>
          </div>
          <ion-item class="labels">
              <br>
              <ion-input type="text" formControlName="correo" placeholder="Correo"></ion-input>
          </ion-item>
          <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessages.correo">
                  <div class="error-message" style="color: red;"  *ngIf="form.get('correo').hasError(validation.type) && (form.get('correo').dirty || form.get('correo').touched)">
                      {{ validation.message }}
                  </div>
              </ng-container>
          </div>
          <ion-item class="labels">
              <br>
              <ion-input type="password" formControlName="contrasenia" placeholder="Contraseña"></ion-input>
          </ion-item>
          <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessages.contrasenia">
                  <div class="error-message"  style="color: red;"  *ngIf="form.get('contrasenia').hasError(validation.type) && (form.get('contrasenia').dirty || form.get('contrasenia').touched)">
                      {{ validation.message }}
                  </div>
              </ng-container>
          </div>

          <ion-grid>
              <ion-row>
                  <ion-col class= "col-6">
                      <button (click)="tomarFotografia()"  class="btn btn-primary btn-lg" expand="block" >Tomar Foto</button>
                  </ion-col>
                  <ion-col  class ="col-6">
                    <button (click)="escanearDni()" class="btn btn-danger btn-lg" expand="block" color="tertiary">DNI (QR)     </button>
                  </ion-col>
              </ion-row>
              <button (click)="registrar()" class="btn btn-success btn-lg"  [disabled]="!form.valid"  color="success">Registrarse</button>
          </ion-grid>
      </form>
  </ion-card>
</ion-content>




