@import "~bootswatch/dist/Materia/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/Materia/bootswatch";

ion-content {
  --background: url("../../../assets/fondosplash.png") 0 0/100% 100% no-repeat;
}

ion-card {
  top: 6%;
  --background: rgb(255, 255, 255);
}

ion-input {
  font-family: "Libre Baskerville", serif;
}

ion-item {
  --background: rgb(255, 255, 255);
}

ion-title {
  font-family: "Libre Baskerville", serif;
  margin-left: 25px;
}
ion-toggle {
  --background: #000;

  --handle-background: #7a49a5;
}
